block config
    //- Correct base url pathing for this page
    - var baseUrl = '../_modules/'
    - var menu = site.data.menu

footer(id='footer', class='footer')
    div(class="footer__wrapper")
        div(class="grid")
            div(class="grid__col-12 grid__col-sm-8")
                nav(class='footer__nav')
                    div
                        div
                            h5(class="footer__headline")= site.data.menu.profil.title
                            ul
                                each item in site.data.menu.profil.items
                                    li= item.title
                        div
                            h5(class="footer__headline")= site.data.menu.portfolio.title
                            ul
                                each item in site.data.menu.portfolio.items
                                    li= item.title
                    div
                        div
                            div
                                h5(class="footer__headline")= site.data.menu.instrumente.title
                                ul
                                    each item in site.data.menu.instrumente.items
                                        li= item.title
                            div
                                h5(class="footer__headline")= site.data.menu.kontakt.title
                                ul
                                    each item in site.data.menu.kontakt.items
                                        li= item.title
                        div
                            h5(class="footer__headline")= site.data.menu.kunden.title
                            ul
                                each item in site.data.menu.kunden.items
                                    li= item.title
                div(class="grid__cell-footer")
                    div(class="grid__cell")
                        h5(class="footer__headline") Newsletter Anmeldung
                        +form-inline({"class": "newsletter", "icon": "#angle-right"})
            div(class="grid__col-12 grid__col-sm-4")
                div(class="grid__cell")
                    img(class="grid__cell-img", class="footer__logo", src="/images/logo--footer.png")
                    div(class='footer__address')
                        | Insheimer Straße 32
                        | D-76865 Rohrbach
                        | Fon +49 6349 96 30 228
                        | Fax +49 6349 96 30 229
                        | E-Mail info@reflect-beratung.de
                div(class="grid__cell-footer")
                    div(class="grid__cell")
                        include ../social/social.jade
