block config
    //- Correct base url pathing for this page
    - var baseUrl = '../_modules/'
    - var menu = site.data.footer

footer(id='footer', class='footer')
    div(class="footer__wrapper")
        div(class="grid")
            div(class="grid__col-12 grid__col-sm-8")
                nav(class="footer__nav grid")
                    div(class="grid__col-12 grid__col-sm-2")
                        h5(class="footer__nav-headline")
                            span= site.data.footer.profil.title
                        ul
                            each item in site.data.footer.profil.items
                                li
                                    a(title=item.title, href=item.href)= item.title
                    div(class="grid__col-12 grid__col-sm-3")
                        h5(class="footer__nav-headline")
                            span= site.data.footer.portfolio.title
                        ul
                            each item in site.data.footer.portfolio.items
                                li
                                    a(title=item.title, href=item.href)= item.title
                    div(class="grid__col-sm-2 grid__col--bleed")
                        div(class="grid__col-12")
                            h5(class="footer__nav-headline")
                                span= site.data.footer.instrumente.title
                            ul
                                each item in site.data.footer.instrumente.items
                                    li
                                        a(title=item.title, href=item.href)= item.title
                        div(class="grid__col-12")
                            h5(class="footer__nav-headline")
                                span= site.data.footer.kontakt.title
                            ul
                                each item in site.data.footer.kontakt.items
                                    li
                                        a(title=item.title, href=item.href)= item.title
                    div(class="grid__col-12 grid__col-sm-2")
                        h5(class="footer__nav-headline")
                            span= site.data.footer.kunden.title
                        ul
                            each item in site.data.footer.kunden.items
                                li
                                    a(title=item.title, href=item.href)= item.title
                    div(class="grid__col-12 grid__col-sm-3")
                        h5(class="footer__nav-headline")
                            span= site.data.footer.service.title
                        ul
                            each item in site.data.footer.service.items
                                li
                                    a(title=item.title, href=item.href)= item.title
                    div(class="grid__col-12 grid__cell-footer")
                        h5(class="footer__nav-headline")
                            span Newsletter Anmeldung
                        +form-inline({"class": "form--newsletter", "icon": "#angle-right"})
            div(class="grid__col-12 grid__col-sm-4")
                div(class="grid__cell u-text-center")
                    img(class="grid__cell-img", class="footer__logo", src="/images/logo--footer.png")
                    div(class='footer__address')
                        | Insheimer Straße 32
                        | D-76865 Rohrbach
                        | Fon +49 6349 96 30 228
                        | Fax +49 6349 96 30 229
                        | E-Mail info@reflect-beratung.de
                div(class="grid__cell-footer")
                    div(class="grid__cell")
                        +social-links({"class": "social--footer","facebook": true, "googleplus": true, "linkedin": true, "twitter": true, "rss": true})
