extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var portfolio = site.data.portfolio

block content
    +visual({image: "/images/visuals/portfolio.jpg"})
    +breadcrumb([["Home", "/"],["Portfolio", "/portfolio"]])
    +section({"class": "section--grey"})
        div(class="grid")
            each teaser in portfolio
                div(class="grid__col-12 grid__col-sm-6 grid__col-md-4")
                    div(class="block u-text-center")
                        a(href=teaser.link, title=teaser.title)
                            img(src=teaser.image)
                            h3(class="block__headline")= teaser.title
                            p= teaser.teaser[0]
                            p= teaser.teaser[1]
