mixin section(spec)
    - spec = spec || ""

    section(class="section #{spec.class}")
        div(class="section__wrapper")
            block

mixin section-headline(spec)
    - spec = spec || ""
    - spec.class = spec.class || ""

    h2(class="section__headline #{spec.class}")
        if spec.icon
            svg(class="section__headline-icon")
                use(xlink:href=spec.icon)
        span(class="section__headline-text")= spec.title
        block

mixin section-block(spec)
    - spec = spec || ""

    if spec.id
        div(id=spec.id, class="section__block #{spec.class}")
            if spec.title
                h3(class="section__sub-headline")= spec.title
            block
    else
        div(class="section__block #{spec.class}")
            if spec.title
                h3(class="section__sub-headline")= spec.title
            block

mixin section-badge(spec)
    - spec = spec || ""

    div(class="section__badge")
        svg(class="section__badge-icon")
            use(xlink:href=spec.icon)
        = spec.title
