mixin section(spec)
    - spec = spec || ""
    - spec.class = spec.class || ""
    - spec.id = spec.id || ""

    if spec.id
        section(id=spec.id, class="section #{spec.class}")
            div(class="section__wrapper")
                block
    else
        section(class="section #{spec.class}")
            div(class="section__wrapper")
                block

mixin section-headline(spec)
    - spec = spec || ""
    - spec.class = spec.class || ""

    h2(class="section__headline #{spec.class}")
        if spec.icon
            span(class="section__headline-icon lnr lnr-#{spec.icon}")
        span(class="section__headline-text")= spec.title
        block

mixin section-badge(spec)
    - spec = spec || ""

    div(class="section__badge")
        svg(class="section__badge-icon")
            use(xlink:href=spec.icon)
        = spec.title
