mixin team-teaser-list(spec)
    - spec = spec || ""

    div(class="team-teaser team-teaser--list-view")&attributes(attributes)
        a(class="team-teaser__link", href=spec.link)
            div(class="team-teaser__image")
                img(class="team__member-image", src=spec.image)
            div(class="team-teaser__body")
                blockquote(class="team__member-quote")= spec.quote
                p(class="team__member-name")= spec.name
                p(class="team__member-title")= spec.title

mixin team-teaser-grid(spec)
    - spec = spec || ""

    div(class="team-teaser grid__col-12 grid__col-sm-4")&attributes(attributes)
        a(class="team-teaser__link", href=spec.link)
            div(class="team-teaser__image")
                img(class="team__member-image", src=spec.image)
            div(class="team-teaser__body")
                p(class="team__member-name")= spec.name
                p(class="team__member-title")= spec.title
                span(class="team-teaser__icon lnr lnr-arrow-right")

mixin team-header(spec)
    - spec = spec || {}
    - spec.member = spec.member || {}
    - spec.class = spec.class || ""

    div(class="team-header", style="background-image: url(#{spec.visual});")&attributes(attributes)
        div(class="team-header__wrapper")
            div(class="team-header__image")
                img(class="team__member-image", src=spec.member.image)
            div(class="team-header__body")
                blockquote(class="team__member-quote")= spec.member.quote
                p(class="team__member-name")= spec.member.name
                p(class="team__member-title")= spec.member.title

mixin team-info(spec)
    - spec = spec || {}
    - spec.class = spec.class || ""

    div(class="team__member-info")
        h3= spec.title
        ul
            each info in spec.list
                li= info
