mixin link(spec)
    - spec = spec || {}
    - spec.class = spec.class || ''
    - spec.iconBefore = spec.iconBefore || false
    - spec.iconAfter = spec.iconAfter || false
    - spec.title = spec.title || ''
    - spec.href = spec.href || '#'

    a(class="link #{spec.class}", href=spec.href, title=spec.title)
        if spec.iconBefore
            span(class="link__icon link__icon--before lnr lnr-#{spec.iconBefore}")
        span(class="link__text")= spec.title
        if spec.iconAfter
            span(class="link__icon link__icon--after lnr lnr-#{spec.iconAfter}")
