mixin portfolio-teaser-short(spec)
    - spec = spec || {}
    - spec.class = spec.class || ''

    div(class='block u-text-center')&attributes(attributes)
        a(href=spec.link, title=spec.title)
            img(src=spec.image)
            h3(class="block__headline")= spec.title
            p(class="block__body-text")= spec.teaser[0]
            p(class="block__body-text")= spec.teaser[1]