mixin webinar-teaser(spec)
    - spec = spec || {}
    - webinar = spec.webinar || {}
    - spec.class = spec.class || ''

    if webinar.status === 'free'
        article(class="webinar-teaser webinar-teaser--free")&attributes(attributes)
                header
                    h3= webinar.title
                    if webinar.new === true
                        div(class="webinar-teaser__badge") neu!
                div(class="webinar-teaser__body")
                    p= webinar.teaser
                    +link({"class": "u-color-red u-text-upper u-text-left","href": "/instrumente/registrierung/", "title": "Noch kein Zugang?", "iconBefore": "#help-alt"})
                    +link({"class": "u-color-darkblue u-text-upper u-text-right", "href": "#", "title": "Webinar öffnen", "iconAfter": "#long-arrow-right"})
                footer
                    p Ohne Freischaltcode verfügbar
    if webinar.status === 'locked'
        article(class="webinar-teaser webinar-teaser--locked")&attributes(attributes)
                header
                    h3= webinar.title
                    if webinar.new === true
                    div(class="webinar-teaser__badge") neu!
                div(class="webinar-teaser__body")
                    p= webinar.teaser
                    +link({"class": "u-color-red u-text-upper u-text-left","href": "/instrumente/registrierung/", "title": "Noch kein Zugang?", "iconBefore": "#help-alt"})
                    +link({"class": "u-color-darkblue u-text-upper u-text-right", "href": "#", "title": "Webinar öffnen", "iconAfter": "#long-arrow-right"})
                footer
                    p Seminar noch nicht freigeschaltet.
                    svg(class="webinar-teaser__icon")
                        use(xlink:href="#lock") 
    if webinar.status === 'unlocked'
        article(class="webinar-teaser webinar-teaser--unlocked")&attributes(attributes)
                header
                    h3= webinar.title
                    if webinar.new === true
                    div(class="webinar-teaser__badge") neu!
                div(class="webinar-teaser__body")
                    p= webinar.teaser
                    div(class="grid grid--bleed")
                    +link({"class": "u-color-red u-text-upper u-text-left","href": "/instrumente/registrierung/", "title": "Noch kein Zugang?", "iconBefore": "#help-alt"})
                    +link({"class": "u-color-darkblue u-text-upper u-text-right", "href": "#", "title": "Webinar öffnen", "iconAfter": "#long-arrow-right"})
                footer
                    p Seminar ist bereits freigeschaltet.

mixin webinar-key(spec)
    - spec = spec || {}
    - webinar = spec.webinar || {}
    - spec.class = spec.class || ''

    if webinar.status === 'locked'
        div(class="webinar-key webinar-key--locked")&attributes(attributes)
            header
                strong Seminar: #{webinar.title}
                if webinar.status === 'unlocked' || webinar.status === 'free'
                    +link({"class": "u-color-darkblue u-text-upper u-text-right", "href": "#", "title": "Aufrufen", "iconAfter": "#long-arrow-right"})
            div(class="webinar-key__body webinar-key__body--locked")
                span 
                    svg(class="webinar-key__icon")
                        use(xlink:href="#lock")
                    | FREISCHALTCODE NOTWENDIG
                a(class="button button--green") Hier Freischalten
    else
        div(class="webinar-key")&attributes(attributes)
            header
                strong Seminar: #{webinar.title}
            div(class="webinar-key__body")
                span= webinar.key
